/**
 * Projeto Desenvolvido para a Atividade 2 - Formulário de Cadastro
 *
 * Curso Sistemas Interativos WEB
 *
 * Prof. Rudinei Goularte (rudinei@icmc.usp.br)
 *
 * ICMC USP 2018
 *
 * STYLE.CSS
 *
 * Preview Project: https://forms.galhardoo.com/version2
 *
 * Source Code: https://github.com/AlexGalhardo/forms.galhardoo.com-version2
 *
 * Alex Galhardo Vieira
 * Github: https://github.com/AlexGalhardo  
 * Email: aleexgvieira@gmail.com / alexgalhardo@usp.br
 * Site: https://galhardoo.com
 */


/**
 * GLOBAL
 */
body {
	font-family: "Rubik";
}

header {
	text-align: center;
}

h3, h4 {
	text-align: center;
}

fieldset {
	margin: 5px auto;
	border: none;
	border-radius: 5px;
}

/* Index.php */
span {
	color: red;
}

a {
	text-decoration: none;
	color: blue;
}

input {
	border: 1px solid #eee;;
	padding: 10px;
	margin: 5px;
}

label {
	font-weight: bold;
}

textarea {
	border-color: #eee;
	border-radius: 5px;
	margin: 10px 0px;
}

textarea:focus {
	border-color: green;
}

input:focus {
	border-color: black;
}

a:hover {
	color: orange;
}

h1 {
	text-align: center;
}


/* Cadastrados.php */
table {
	border-color: white;
}

th, a {
	text-align: center;
	border-color: white;
	margin: 2px 2px;
}

td {
	text-align: center;
	padding: 0.2em;
}

fieldset h3 {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	background-color: #eee;
}



.input_verify_forms {
	display: block;
	border-radius: 5px;
	font-weight: bold;
	background-color: #BBDEFB;
	color: black;
	border-color: #BBDEFB;
	box-shadow: 0 5px #999;
}

.input_verify_forms:hover {
	border-color: #BBDEFB;;
    background-color: #0D47A1;
    color: white;
}

.input_verify_forms:active {
	border-color: #BBDEFB;
	box-shadow: 2px 5px #666;
    transform: translateY(4px);
}


/**
 * Verify JavaScript Forms
 */
.button-app-main-page {
    display: block;
    border-color: #BBDEFB;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 1em 2em;
    font-weight: bold;
    margin: 20px auto;
    color: black;   
    box-shadow: 0 5px #999;
    background-color: #BBDEFB;
}

.button-app-main-page:hover {
    border-color: #0D47A1;
    background-color: #0D47A1;
    color: white;
}

.button-app-main-page:active {
    box-shadow: 2px 5px #666;
    transform: translateY(4px);
}


/**
 * Fieldset Professional
 */
#fieldset_professional_experience {
	text-align: center;
}

#div_has_professional_exp {
	text-align: left;
}

.button_register_new_data {
	display: block;
    border-color: #BBDEFB;
    border-radius: 7px;
    text-align: center;
    width: 50%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 1em 2em;
    font-weight: bold;
    margin: 20px auto;
    color: white;   
    box-shadow: 0 5px #999;
    background-color: green;
}

.button_register_new_data:hover {
    border-color: #0D47A1;
    background-color: #0D47A1;
    color: white;
}

.button_register_new_data:active {
    box-shadow: 2px 5px #666;
    transform: translateY(4px);
}

.cadastrar_input {
	color: white;
	background-color: green;
	border-radius: 5px;
	letter-spacing: 1px;
	padding: 1em;
	font-weight: bold;
}

.div_home {
	max-width: 800px; 
	margin: 0 auto;
}

.div_registered {
	max-width: 1200px; 
	margin: 0 auto;
}

.div_update {
	max-width: 600px;
	margin: 0 auto;
}

#div_data_send {
	max-width: 500px;
	padding: 10px 0px;
	margin: 20px auto;
	text-align: left;
}

